
services:

  nginx:
    image: nginx:latest
    platform: linux/amd64
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./certbot/generated/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./certbot/generated/:/etc/nginx/ssl/:ro"
    restart: unless-stopped

  personal:
    image: personal-v1:latest
    platform: linux/amd64
    ports:
      - "6969:6969"
    restart: unless-stopped
